#container {
    height: 100%;
    max-width: 100%;
    margin: 0 auto;
}
.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

.navbar-brand img{
    max-width: 60px;
}
.mapbox-info {
    font-weight: lighter;
    font-size: 11px;
}

.extra-small {
    font-size:10px;
}
.infected-small-image {
    border: 1px solid #949ba1 !important;
}

table.dataTable thead.table-sm th{
    padding:0.3rem;
}
